.filter {
    display: none;
}
.openFilter {
    color: rgb(52, 52, 195);
    cursor: pointer;
}



/* Lentelės css  https://css-tricks.com/responsive-data-tables/ */

@media 
only screen and (max-width: 1000px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
    tr { border: 1px solid #ccc; margin-bottom: 5px; border-top: 2px solid #000;}

    
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    
    /*Buttons center*/
    #content > div > table > tbody > tr > td:nth-child(7), #content > div > table > tbody > tr > td:nth-child(8) {
        display: flex;
        justify-content: center;
    } 

}